<div class="w-full flex flex-wrap px-32 py-12">
  <% @movies.each do |movie| %>
    <%= link_to movie_path(movie.id), class:'card w-1/6' do %>
      <%= render 'layouts/movie_poster', 'movie': movie %>
    <% end %>
  <% end %>
</div>