<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.firstname %> <%= @user.lastname %> 👋!</h1>
<p>A new request is arrived, Accept or Decline on your Dashboard</p>
</body>
</html>